# Ansible-managed file
# ipsec.conf - strongSwan IPsec configuration file

#basic configuration

config setup
ca sharkbaitextraordinaire
  cacert=ca-chain.crt.pem
  auto=add

{% for host in groups['kubenodes'] %}
{% if not inventory_hostname == hostvars[host].inventory_hostname %}
conn {{ hostvars[host].inventory_hostname }}
  type=transport
  authby=pubkey
  auto=route
  leftid=@{{ inventory_hostname }}
  leftcert=/etc/ipsec.d/certs/{{ inventory_hostname }}.crt.pem
  right={{ hostvars[host].ansible_eth0.ipv4.address }}
  rightid=@{{ hostvars[host].inventory_hostname }}
  esp=aes128gcm16!
{% endif %}
{% endfor %}
