# Ansible-managed file
# /etc/systemd/system/etcd.service
[Unit]
Description=etcd
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd --name {{ inventory_hostname }} \
  --data-dir /var/lib/etcd \
  --listen-client-urls "https://{{ hostvars[inventory_hostname].ansible_all_ipv4_addresses | ipaddr('192.168.0.0/16') | first }}:2379,https://localhost:2379,http://127.0.0.1:4001" \
  --advertise-client-urls "https://{{ hostvars[inventory_hostname].ansible_all_ipv4_addresses | ipaddr('192.168.0.0/16') | first }}:2379" \
  --listen-peer-urls "https://{{ hostvars[inventory_hostname].ansible_all_ipv4_addresses | ipaddr('192.168.0.0/16') | first }}:2380" \
  --initial-cluster "{{ ansible_play_hosts | map ('extract',hostvars,'etcd_uri') | list | join(',') }}" \
  --initial-advertise-peer-urls "https://{{ hostvars[inventory_hostname].ansible_all_ipv4_addresses | ipaddr('192.168.0.0/16') | first }}:2380" \
  --heartbeat-interval 200 \
  --election-timeout 5000 \
  --trusted-ca-file=/etc/ipsec.d/cacerts/intermediate.ca.crt.pem \
  --cert-file=/etc/ipsec.d/certs/{{ inventory_hostname }}.crt.pem \
  --key-file=/etc/ipsec.d/private/{{ inventory_hostname }}.key.pem \
  --peer-client-cert-auth --peer-trusted-ca-file=/etc/ipsec.d/cacerts/intermediate.ca.crt.pem \
  --peer-cert-file=/etc/ipsec.d/certs/{{ inventory_hostname }}.crt.pem \
  --peer-key-file=/etc/ipsec.d/private/{{ inventory_hostname }}.key.pem
Restart=always
RestartSec=5
TimeoutStartSec=0
StartLimitInterval=0
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
